<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white sticky"
    data-offset="500"
  >
    <div class="container">
      <a href="home" class="navbar-brand"
        >JARVIS<span class="text-primary">net.</span></a
      >

      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <!-- 
          <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
          </li> Back to top button -->
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000" target="_blank"
              >News</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-danger ml-lg-2" href="/logout">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
